@{ ViewBag.Title = "Contact"; }



<h3 style="font-family:Times New Roman">
    <i>
        <strong>
            Feel Free To Contact Us....
        </strong>
    </i>
</h3>
@section Head
{
    <style>
        body {
            background-image: url('../../image/contact2.jpg');
            
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
}

<body>
    <hr />
    <hr style="width:50%" , size="3"  color="black">

    <div>
     

        <div>
            <address style="font-family:verdana">
                <h3 style="font-family: Copperplate ">Address </h3>
                <strong style="font-family:Georgia">Zensar Insurance Ltd</strong> (Corporate Headquarters)<br />
                Plot #4, MIDC, Off Nagar Road,<br />
                Zensar Knowledge Park,<br />
                Kharadi, Pune 411 014,<br />
                Maharashtra, India.<br />
                <abbr title="Phone">Phn no:</abbr>
                020-66074000, 020-66057500
            </address>
            <address>
                <strong>Support:</strong>   <i><a href="mailto:Support@example.com">insurance.help@zensar.com</a></i><br />
                <strong>Marketing:</strong> <i><a href="mailto:Marketing@example.com">marketing.team@zensar.com</a></i>
            </address>
            <hr style="width:50%" , size="3" , color=black>

        </div>
    </div>





</body>
