@{ ViewBag.Title = "Home Page"; }

@section Head
{
    <style>
        body {
          
            background-image: url('../../image/home.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
}

<div class="jumbotron">
    <h1>General Insurance</h1>
    <p class="lead">This is motor insurance that needs to be taken for any private car owned by an individual and is mandated by the Government of India. It covers the vehicle for damages against accidents, fire, natural disasters, theft among others and also covers for any injury to the owner.</p>
    <p><a href="https://en.wikipedia.org/wiki/Vehicle_insurance" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" align="center">
    <div>
        <div>
            <h1>Buy Insurance</h1>
        </div>
        <div>
            <p align="center"><a class="btn btn-danger" href="/Home/Login">Buy Now &raquo;</a></p>
        </div>
        <p align="left">
            <h3>There are two types of Car Insurance available:</h3>
        </p>
        <br />
        <p><h4>1. Third-Party Liability Only Cover: </h4></p>
        <br />
        <p>
            Under this type of car insurance coverage, you will get the following benefits:
            -- Cost of repairs/replacement of the damaged vehicle of third parties
            -- Cost of hospitalization and treatment of third parties
            -- Liabilities arising out of death of third parties
            According to the Motor Vehicles Act, third-party car insurance coverage is a must to drive on the roads. The sum assured should be according to the driving conditions and sufficiently high to avoid out-of-pocket payments from your side.
        </p>
        <br />
        <p><a class="btn btn-default" href="https://www.shriramgi.com/news-events/what-is-third-party-liability-in-motor-insurance/">Learn more &raquo;</a></p>
        <br />
        <br />
        <p><h4>2. Comprehensive Car Insurance: </h4></p>
        <br />
        <p>
            This type of coverage gives the highest level of protection as it includes liability for third parties, damage to own vehicle, personal accident cover, and all non-collision damage such as storms, floods, fire and theft. You can further enhance a comprehensive car insurance policy with a choice of add-ons.
        </p>
        <br />
        <p><a class="btn btn-default" href="https://www.investopedia.com/terms/c/comprehensive-insurance.asp">Learn more &raquo;</a></p>
        <br />
        @*
            <div>
                <a href="/Home/Renewal" class="btn btn-danger"><h1>Renewal Of Insurance</h1></a>
            </div>
        *@
    </div>
</div>